:root {
  --color-main-red: #ff3839;
  --color-black-202020: #202020;
  --color-gray-background: #f8f8f8;
  --color-light-red: #333335;
  --color-light-black: #696969;
  --background-main: #ffffff;
  --color-black-000000: #000000;
  --color-reviews: #F7F7F7;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-black-202020);
  background-color: var(--background-main);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1203px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/**
  |============================
  | Header styles
  |============================
*/
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  background: var(--color-black-202020);
}

.header-logo {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 24px;
  line-height: calc(29 / 24);
  color: var(--background-main);
  display: flex;
  align-items: center;
}


.heder-nav-list {
  display: flex;
  gap: 40px;
}

.header-nav-link {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.03em;
  color: var(--background-main);
  padding-top: 36px;
  padding-bottom: 36px;
  display: block;
}

.header-btn {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.03em;
  color: var(--background-main);
  background-color: var(--color-main-red);
  min-width: 128px;
  height: 44px;
  border: none;
  border-radius: 5px;
}
/**
  |============================
  | Hero styles
  |============================
*/
.hero {
  background-color: var(--color-black-202020);
  padding-top: 184px;
  padding-bottom: 190px;
}

.hero-text {
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--background-main);
  margin-bottom: 14px;
}

.hero-descr {
  max-width: 786px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.hero-text-part {
  font-weight: 700;
  color: var(--color-main-red);
}

.hero-title {
  font-size: 70px;
  line-height: calc(90 / 70);
  letter-spacing: 0.03em;
  color: var(--background-main);
  max-width: 794px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 22px;
}

.hero-btns-list {
  display: flex;
  justify-content: center;
  gap: 19px;
}

.hero-btn {
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-black-202020);
  background: var(--background-main);
  padding: 12px 34px;
  border-radius: 5px;
  border: none;
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--color-main-red);
  color: var(--background-main);
}
/**
  |============================
  | Abaut styles
  |============================
*/
.about-section {
  padding: 112px 0;
}

.container-about {
  display: flex;
}

.about-list {
  margin-right: 219px;
}

.about-subtitle {
  font-size: 16px;
  line-height: calc(25 / 16);
  margin-bottom: 19px;

  text-align: justify;
  letter-spacing: 0.03em;

  color: var(--color-light-black);
}

.about-subtitle-part {
  color: var(--color-main-red);
  font-weight: 700;
}

.about-title {
  font-size: 48px;
  line-height: calc(60 / 48);
  letter-spacing: 0.03em;
  color: var(--color-black-202020);
  max-width: 534px;
  margin-bottom: 31px;
}

.about-title-part {
  color: var(--color-main-red);
}

.about-text {
  font-size: 16px;
  line-height: calc(25 / 16);

  text-align: justify;
  letter-spacing: 0.03em;

  color: var(--color-light-black);
  max-width: 534px;
  margin-bottom: 35px;
}

.about-button {
  font-size: 16px;
  line-height: calc(24 / 16);

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--background-main);
  background-color: var(--color-main-red);
  padding: 12px 64px;
  border-radius: 5px;
  border: none;
}
/**
  |============================
  | Services styles
  |============================
*/
.services {
  background: var(--color-black-202020);
  padding-top: 120px;
  padding-bottom: 102px;
}
.services-container {
  display: flex;
}
.services-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(25 / 16);
  text-align: justify;
  letter-spacing: 0.03em;
  color: var(--color-gray-background);
  margin-bottom: 19px;
}

.services-title {
  font-size: 48px;
  line-height: calc(60 / 48);
  letter-spacing: 0.03em;
  color: var(--color-gray-background);
  margin-bottom: 23px;
  max-width: 443px;
}

.services-accent {
  color: var(--color-main-red);
}
.services-text {
  font-size: 16px;
  line-height: calc(25 / 16);
  text-align: justify;
  letter-spacing: 0.03em;
  color: var(--background-main);
  margin-bottom: 40px;
  max-width: 534px;
}
.services-btn {
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--background-main);
  background: var(--color-main-red);
  border-radius: 5px;
  border: none;
  padding: 12px 62px;
}
.services-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 546px;
  gap: 61px 20px;
  margin-left: auto;
}
.services-list-item {
  background: var(--background-main);
  border-radius: 5px;
  width: calc((100% - 20px) / 2);
  justify-content: center;
}
.services-list-title {
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-black-000000);
  padding-top: 54px;
  margin-bottom: 13px;
}
.services-list-text {
  font-size: 11px;
  line-height: calc(17 / 11);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-light-black);
  max-width: 233px;
  margin-left: auto;
  margin-right: auto;
}
/**
  |============================
  | Reviews styles
  |============================
*/
.reviews {
  background: var(--color-black-202020);
  padding-top: 111px;
  padding-bottom: 110px;
}
.reviews-text {
  font-size: 16px;
  line-height: calc(25 / 16);
  text-align: justify;
  letter-spacing: 0.03em;
  color: var(--color-reviews);
  margin-bottom: 19px;
}
.reviews-text-red {
  color: var(--color-main-red);
}
.reviews-title {
  font-size: 48px;
  line-height: calc(60 / 48);
  letter-spacing: 0.03em;
  color: var(--background-main);
  max-width: 528px;
  margin-bottom: 72px;
}
.reviews-title-red {
  color: var(--color-main-red);
}
.reviews-list {
display: flex;
gap: 30px;
}
.reviews-item {
width: calc(100% - 60px);
height: 218px;
  background: var(--background-main);
  border-radius: 5px;
}
.reviews-subtitle {
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-black-000000);
  padding-top: 69px;
  margin-bottom: 50px;
}
.small-text {
  font-size: 11px;
  line-height: var(17 / 11);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-light-black);
  max-width: 334px;
  margin-left: auto;
  margin-right: auto;
}
